.cardWrapper {
    width: 30vw;
    display: flex;
    justify-content: space-between;
    font-size: 1.1vw;
    align-items: center;
}

.dotWrapper {
    display: flex;
    height: 1.4vw;
    margin: 7px 0;
    gap: 4px;
}

@media all and (max-width: 1200px) {
    image {
        width: 1.5vw;
        height: 1.5vw
    }
}

@media all and (max-width: 992px) { 
    .cardWrapper {
        width: auto;
        font-size: 1.8vw;
    }
    image {
        width: 1vw !important;
        height: 1vw !important;
    }
}

@media all and (max-width: 420px) {
    .skillDot {
        height: 4vw !important;
        width: 4vw !important;
    }
    .cardWrapper {
    }
    .introText {
        font-size: 10px;
    }
    .myPronoums, .role {
        font-size: 8px;
    }
    .aboutInfo {
        text-align: center;
    }
}