.bodyContainer {
    margin: 5vw 20vw 5vw 20vw;
    display: grid;
    grid-template-rows: 2;
    grid-template-columns: 40% 60%;
    font-family: "Supermolot";
    gap: 3vw;
}

.infoWrapper {
    font-size: 1.5vw;
    font-weight: bold;
}

.introText {
    font-weight: bolder;
}

.myName {
    font-size: 3vw;
    font-family: "Roboto Flex";
    object-fit: cover;
}

.myPronoums {
    display: flex;
    font-size: 1.2vw;
    align-items: end;
    margin-bottom: 1vw;
    margin-left: 0.5vw;
}

.role {
    font-weight: 400;
}

.myImage {
    height: 100%;
    width: auto;
    object-fit: cover;
}

.aboutTitle {
    font-size: 1.5vw;
    font-weight: bold;
}

.aboutInfo {
    margin-bottom: 1vw;
}

.skillTitle {
    font-size: 2vw;
    font-weight: bold;
}

@media all and (max-width: 992px) { 
    .bodyContainer {
        grid-template-columns: 100%;
        text-align: justify;
    }
    .infoWrapper {
        text-align: center;
    }
    .aboutTitle {
        font-size: 2.5vw;
        text-align: center;
    }
    .myPronoums {
        display: flex;
        margin: 0;
        justify-content: center;
        margin-bottom: 0.5vw;
    }
    .nameWrapper {
        display: flex;
        flex-direction: column;
    }
    .skillTitle {
        font-size: 2vw;
    }
}

@media all and (max-width: 420px) {
    .introText, .skillTitle, .aboutTitle {
        font-size: 12px;
    }
    .myPronoums, .role {
        font-size: 8px;
    }
    .aboutInfo {
        text-align: center;
        font-size: 10px;
    }
}