.headerBody {
    height: 90px;
    width: auto;
    background-color: #BEE7F9;
    justify-content: space-between;
}

.logoContainer {
    margin-left: 40px;
    margin-right: 10px;
}

.hText {
    font-size: 18px;
}

.logo_textWrapper {
    gap: 3vw;
    font-size: 1.2vw;
    align-items: center;
    font-family: "Supermolot";
    font-weight: 600;
}

.iconsWrapper {
    margin-right: 12vw;
    align-items: center;
    gap: 40px;
}

.icons {
    height: 30px;
    width: 30px;
}

.headerLogo {
    height: 4vw !important;
    width: auto !important;
}

@media all and (max-width: 700px) { 
    .icons {
        height: 25px;
        width: 25px;
    }
    
    .headerLogo {
        height: 30px !important;
        width: auto !important;
    }
}
@media all and (max-width: 500px) { 
    .headerBody {
        display: flex;
        justify-content: center;
    }

    .iconsWrapper {
        margin: 5vw;
        gap: 20px;
    }
    .icons {
        height: 20px;
        width: 20px;
    }
    .headerLogo {
        width: auto !important;
        height: 20px !important;
    }
}

@media all and (max-width: 500px) {
    .logo-textWrapper {
        margin: 0px;
        gap: 0.5vw !important;
    }
    li {
        font-size: 10px;
    }
    .headerLogo {
        height: 0px !important;
        width: auto !important;
    }
}